.h1 {
  text-align: center;
}

#scoreboardright {
  display: inline;
}

#scoreboardleft {
  display: inline;
}

#rock {
display: inline-block;
}
#scissors {
  display: inline-block;
}
#paper {
  display: inline-block;
}
